html {
	background: #2b2a33;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
}

#content {
	width: 640px;
	margin: auto;
}

#container {
	padding: 10px;
}

#whoami p {
	text-indent: 20px;
}

#bio-item {
	padding-bottom: 5px;
}

#bio-item {
	padding-left: 3.4em;
	text-indent: -3.4em;
}

span {
	font-weight: bold;
	margin-right: 1em;
}

article {
	width: 640px;
}

h4 {
	text-decoration: underline 4px #525252;
	text-underline-offset: 6px;
}

a {
	text-decoration: none;
}

a:link {
	color: #00d3d3;
}

a:visited {
	color: #00d3d3;
}

a:hover {
	text-decoration: underline;
	color: #ff69b4;
}
