html {
	background: #2b2a33;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
}

#content {
	width: 640px;
	margin: auto;
}

#container {
	padding: 10px;
}

#top-container {
	padding: 10px;
}

#whoami p {
	text-indent: 20px;
}

#header {
	display: flex;
}

#header-text {
	flex-grow: 1;
}

#footer {
	padding-top: 20px;
	text-align: center;
}

.bio-item {
	padding-left: 3.4em;
	text-indent: -3.4em;
	padding-bottom: 5px;
}

.face {
	max-width: 100px;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
}

.top-image {
	width: 100%;
	height: 200px;
	border-width: 2px;
	border-style: solid;
	border-color: #42414d;
	border-radius: 10px;
	display: inline-block;
	overflow: hidden;
	opacity: 1;
	background-color: #2b2a33;
}

span {
	font-weight: bold;
	margin-right: 1em;
}

article {
	width: 640px;
}

h4 {
	text-decoration: underline 4px #525252;
	text-underline-offset: 6px;
}

a {
	text-decoration: none;
}

a:link {
	color: #00d3d3;
}

a:visited {
	color: #00d3d3;
}

a:hover {
	color: #ff69b4;
}

/* Navbar */

#head-nav {
	background-color: #42414d;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 20px;
}

#head-nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	float: right;
}

#head-nav a.active {
	background-color: #00d3d3;
	color: black;
}

#head-nav a:hover:not(.terminal) {
	background-color: #f2f2f2;
	color: black;
	transition: 0.5s;
}

/* Navbar left */

#head-nav a.terminal {
	float: left;
}

#head-nav a.terminal:hover {
	cursor: default;
}

i.sudo {
	font-style: normal;
	color: #4AF626;
}

/* Social media buttons */

.social-menu ul {
	position: relative;
	padding: 0;
	margin: 0;
	display: flex;
}

.social-menu ul li {
	list-style: none;
	margin: 0 10px;
}

.social-menu ul li .fa {
	color: #000000;
	font-size: 25px;
	line-height: 50px;
	transition: 0.5s;
}

.social-menu ul li .fa:hover {
	color: #ffffff;
}

/* fa. class for salesforce logo */
.social-menu ul li .fab {
	color: #000000;
	font-size: 25px;
	line-height: 50px;
	transition: 0.5s;
}

/* fa. class for salesforce logo */
.social-menu ul li .fab:hover {
	color: #ffffff;
}

.social-menu ul li a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	transition: 0.5s;
	transform: translate(0, 0px);
	box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
	transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

/* Linkedin background */
.social-menu ul li:nth-child(1) a:hover {
	background-color: #026eaa;
}

/* Github background */
.social-menu ul li:nth-child(2) a:hover {
	background-color: #1a1e22;
}

/* Instagram background */
.social-menu ul li:nth-child(3) a:hover {
	background-color: #aa30bd;
}

/* Steam background */
.social-menu ul li:nth-child(4) a:hover {
	background-color: #1b222a;
}

/* Trailhead background */
.social-menu ul li:nth-child(5) a:hover {
	background-color: #0092da;
}

@media screen and (max-width: 768px) {
	#content {
		width: 460px;
	}

	article {
		width: 460px;
	}

	.terminal {
		display: none;
	}

	.social-menu ul li a:hover {
		transform: none;
	}
}

@media screen and (max-width: 480px) {
	#content {
		width: 360px;
	}

	article {
		width: 360px;
	}

}